@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

body{

    font-family: 'Noto Sans TC', 'Noto Sans', sans-serif;
    letter-spacing: 0.15em;

}

/* ----------------模組化---------------- */

h1{
    font-weight: 700;
    font-size: 9.6rem;
    line-height: 13.9rem;
    letter-spacing: 0.15em;
    color: white;
}

h2{
    font-weight: 400;
    font-size: 4.8rem;
    line-height: 7.0rem;
    letter-spacing: 0.15em;
}

h3{
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 4.6rem;
    letter-spacing: 0.15em;
}

p{
    font-size: 2.0rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.9rem;
    letter-spacing: 0.15em;
    color: #000000;
}

a{
    text-decoration: none;
}

.main-block{

    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* ----------------main---------------- */

/* ----------------hero-banner---------------- */

.hero-banner{
    background-image: url('../Image/about/hero_background.png');
    background-size: cover;
    background-position: center center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-banner .main-block{
    width: 100%;
    border: 2px solid white;
    flex-flow: column;
    margin: 60px 30px;
    padding: 20vh 0;

    text-align: center;
}

.hero-banner h1{
    margin-bottom: 10vh;
    color: white;
    text-shadow: 5px 5px 10px #333;
}

.hero-banner h3{
    color: white;
    text-shadow: 5px 5px 10px #333;
}

/* ----------------concept---------------- */

.concept{
    padding: 60px 0;
    height: 700px;
    background-color: #fff;
}

.concept .main-block{
    position: relative;
}

.concept-pic{
    position: absolute;
    left: 5vw;
    top: 10vh;
    display: block;
    width: 50vw;
    z-index: 2;
}

.concept-text{
    position: absolute;
    left: 50vw;
    top: 50vh ;
    z-index: 3;
    background-color: rgb(255, 255, 255);

    width: 30vw;
    padding: 58px;
    box-sizing: border-box;
    border: 1px solid #eee;
    box-shadow: 10px 10px 20px rgba(232, 232, 232, .5);
}

.concept-text h3{
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
}

.concept-text p{
    width: 100%;
    line-height: 1.6;
    font-weight: 100;
    text-align: left;
}

.concept .bg{
    position: absolute;
    top: 0;
    left: 20vw;
    background-color: rgba(72, 103, 142, .7);
    width: 50vw;
    height: 60vh;
    /* margin-left: -200%; */
    z-index: 1;
}


/* ----------------core value---------------- */

.core{

    padding: 10vh 0;
    /* height: 100vh; */
    background-image: url('../Image/about/about_corevalue_main_bg.png');
    background-size: cover;
    background-position: center center;
}

.core .main-block{
    flex-direction: column;

}

.core-title{
    margin-bottom: 30px;
}

.core-list{
    display: flex;
    width: 50%;
    /* height: 90vh; */

    flex-wrap: wrap;
    justify-content: center;

}

.core-list .item1, .core-list .item2, .core-list .item3, .core-list .item4{
    position: relative;
    text-align: center;
    padding: 25px;
    margin: 10px;

    flex-grow: 1;
    flex-basis: 300px;
    flex-shrink: 0;

    max-width: 200px;
    max-height: 200px;
}

.core-list .item1, .core-list .item4{
    background-image: url('../Image/about/about_corevalue_white_bg.png');
}

.core-list .item1:before, .core-list .item4:before{
    content: '';
    border: 1px solid #7e7e7e;
    top: 5%;
    bottom: 5%;
    left: 5%;
    right: 5%;
    position: absolute;
}

.core-list .item2, .core-list .item3{
    background-image: url('../Image/about/about_corevalue_black_bg.png');
}

.core-list .item2:before, .core-list .item3:before{
    content: '';
    border: 1px solid white;
    top: 5%;
    bottom: 5%;
    left: 5%;
    right: 5%;
    position: absolute;
}

.core-list li img{
    max-width: 100px;
    margin-bottom: 10px;
}

.core-list li p{
    font-weight: 100;
    font-size: 16px;
}

.core-list .item2 p, .core-list .item3 p{
    color: white;
}

/* ----------------mile stone---------------- */


.milestone{
    padding: 10vh 0;
    height: 860px;
    background-color: #2A2C2E;

}

.milestone .main-block{
    flex-direction: column;
}

.milestone-title{
    margin-bottom: 30px;

}

.milestone-title h2{
    color: white;
}

.timeline{
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: center;
}

/* arrow-set */

.prev .fa-angle-left, .next .fa-angle-right{

    font-size: 48px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    color: white;
    cursor: pointer;

    border: 2px solid transparent;
}

.prev .fa-angle-left{

    position: absolute;
    top: 25px;
    left: 5%;
    z-index: 20;


}

.prev .fa-angle-left::after{
    content: '';
    position: absolute;
    top: 0;
    right: -48px;
    display: block;
    width: 50px;
    height: 100%;
    background: linear-gradient(90deg,rgba(42,44,46,1),rgba(42,44,46,.1));
    pointer-events: none;
}

.next .fa-angle-right{

    position: absolute;
    top: 25px;
    right: 5%;
    z-index: 20;

}

.next .fa-angle-right::after{
    content: '';
    position: absolute;
    top: 0;
    left: -48px;
    display: block;
    width: 50px;
    height: 100%;
    background: linear-gradient(270deg,rgba(42,44,46,1),rgba(42,44,46,.1));
    pointer-events: none;
}

/* arrow-checked */

.prev .fa-angle-left:hover, .next .fa-angle-right:hover{
    color: #2491D8;
}

/* wrapper */

.wrapper{
    margin: 0 auto;
    width: 800px;
    height: 80px;
    overflow: hidden;
    position: relative;
}

/* timeline-progress */

.timeline .wrapper .progress{
    position: absolute;
    left: 0;
    top: 0;
    background-color: #666;
    height: 5px;
    width: 2000px;
    /* transition: .5s; */
    margin-top: 52px;
    display: flex;
    flex-shrink: 0;
}

.timeline .wrapper #progress_for_click{
    content: '';
    position: absolute;
    height: 5px;
    width: 0px;
    left: 0;
    top: 0;
    background-color: #2491D8;
    transition: .5s;
}

/* radiolink */
/* year1-2012 */
.timeline .wrapper .progress li.year1{ 
    position: absolute;
    top: 0;
    left: 100px;
    width: 30px;
    height: 30px;
    background-color: #666;
    border-width: 5px;
    border-style: solid;
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
    transition: .5s;

    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

/* year2-2016 */
.timeline .wrapper .progress li.year2{
    position: absolute;
    top: 0;
    left: 550px;
    width: 30px;
    height: 30px;
    background-color: #666;
    border-width: 5px;
    border-style: solid;
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
    transition: .5s;

    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

/* year3-2018 */

.timeline .wrapper .progress li.year3{
    position: absolute;
    top: 0;
    left: 1000px;
    width: 30px;
    height: 30px;
    background-color: #666;
    border-width: 5px;
    border-style: solid;
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
    transition: .5s;

    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

/* year4-2020 */

.timeline .wrapper .progress li.year4{
    position: absolute;
    top: 0;
    left: 1450px;
    width: 30px;
    height: 30px;
    background-color: #666;
    border-width: 5px;
    border-style: solid;
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
    transition: .5s;

    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

/* year5-2022 */

.timeline .wrapper .progress li.year5{
    position: absolute;
    top: 0;
    left: 1900px;
    width: 30px;
    height: 30px;
    background-color: #666;
    border-width: 5px;
    border-style: solid;
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
    transition: .5s;

    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}


.timeline .wrapper .progress li h3.year{
    color: white;
    position: absolute;
    top: -50px;
    left: -25px;

}

/* set-picture */

.timeline .progress-pic-list{  /* ul */
    position: absolute;
    top: 100px;
}

.timeline .progress-pic-list .text{
    text-align: center;
    color: white;
}

.timeline .progress-pic-list li .text .content{
    color: white;
    font-size: 20px;
    margin: 20px 0;
    line-height: 2;
}


.progress-pic-list .year1,
.progress-pic-list .year2,
.progress-pic-list .year3,
.progress-pic-list .year4,
.progress-pic-list .year5{
    max-width: 1000px;
    display: none;
}

.progress-pic-list .year1.on,
.progress-pic-list .year2.on,
.progress-pic-list .year3.on,
.progress-pic-list .year4.on,
.progress-pic-list .year5.on{
    display: block;
}

.border_color_blue{
    border-color: #2491D8 ;
    border-width: 5px;
    border-style: solid;
    border-radius: 50%;
}

.border_color_white{
    border-color: #ffffff ;
    border-width: 5px;
    border-style: solid;
    border-radius: 50%;
}

.timeline_RWD{
    display: none;
}

/* ==================== RWD =================== */


@media screen and ( max-width: 414px ){
    
    h1{
        font-weight: 700;
        font-size: 4.8rem;
        line-height: 10rem;
        letter-spacing: 0.15em;
        color: white;
    }

    h2{
        font-weight: 400;
        font-size: 4rem;
        line-height: 7.0rem;
        letter-spacing: 0.15em;
    }

    h3{
        font-weight: 400;
        font-size: 2.4rem;
        line-height: 4.6rem;
        letter-spacing: 0.15em;
    }

    p{
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2.9rem;
        letter-spacing: 0.15em;
    }

    .main-block{
        max-width: 374px;
        margin: 0 20px;
    }

    .hero-banner h3{
        width: 100%;
    }
    .hero-banner h1{
        margin-bottom: 5vh;
    }
    
    .hero-banner .main-block{
        padding: 5vh 0;
    }


    .concept{
        padding: 5vh 0;
        height: auto;
    }

    .concept .main-block{
        flex-direction: column;
        /* width: 100%; */
    }

    .concept-pic{

        position: relative;
        left: auto;
        top: auto;
        width: 100%;
    
    }
    
    .concept-text{
        position: relative;
        left: auto;
        top: auto ;
        width: 100%;
        padding: 0 30px 30px;
        border: none;
        box-shadow: none;
    }
    .concept-text h3{
        width: 100%;
        margin-bottom: 30px;
        font-size: 4rem;
    }
    
    .concept-text p{
        font-weight: 500;
    }

    .concept .bg{
        display: none;
    }

    .core{
        padding: 5vh 0;
    }

    .core-list li p{
        font-weight: 500;
        font-size: 16px;
    }

    /* ============================milestone */

    .milestone{
        padding: 5vh 0;
        height: auto;
    }

    .timeline{
        display: none;
    }

    .timeline_RWD{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: start;
        /* position: relative; */
    }

    .timeline_RWD .left{
        width: 20%;
        position: sticky;
        left: 0;
        top: 25vh;
        padding: 100px 0 100px;
    }

    .timeline_RWD .left .time_list{
        width: 90%;
    }

    .timeline_RWD .left .time_list li{
        transition: .3s;
    }

    .timeline_RWD .left .time_list li+li{
        padding: 10px 0;
        border-top: 1px dashed #999;
        /* border-bottom: 1px dashed white; */
    }

    .timeline_RWD .left .time_list li:first-child{
        padding: 10px 0;
    }

    .timeline_RWD .left .time_list li.active{
        padding: 20px 0;
        /* transition: .3s; */
    }

    .timeline_RWD .left .time_list span{
        width: 100%;
        display: block;
        text-align: center;
        font-size: 2rem;
        color: white;
    }

    .timeline_RWD .left .time_list .active span{
        color: #2491D8;
        font-size: 2.4rem;
    }

    .timeline_RWD .right{
        width: 80%;
        margin-left: 5px;
    }

    .timeline_RWD .right .pic_list{
        width: 100%;
    }

    .timeline_RWD .right .pic_list li{
        width: 100%;
        padding: 100px 0;
    }

    .timeline_RWD .right .pic_list li.active h3{
        color: #2491D8;
        transition: .8s;
    }

    .timeline_RWD .right .pic_list .text{
        text-align: center;
        color: white;
        margin-bottom: 10px;
    }

    .timeline_RWD .right .pic_list .text h3{
        font-size: 2.2rem;
    }

    .timeline_RWD .right .pic_list .text p{
        text-align: center;
        color: white;
    }

    .timeline_RWD .right .pic_list img{
        width: 100%;
    }

}