@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
html{
    scroll-behavior: smooth;
}

body{

    font-family: 'Noto Sans TC', 'Noto Sans', sans-serif;
    letter-spacing: 0.15em;

}

/* ----------------模組化---------------- */

h1{
    font-weight: 700;
    font-size: 96px;
    line-height: 139px;
    letter-spacing: 0.15em;
    color: white;
}

h2{
    font-weight: 400;
    font-size: 48px;
    line-height: 70px;
    letter-spacing: 0.15em;
}

h3{
    font-weight: 400;
    font-size: 32px;
    line-height: 46px;
    letter-spacing: 0.15em;
}

h4{
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    letter-spacing: 0.15em;
}

p{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0.15em;
    color: #000000;
}

a{
    text-decoration: none;
}

.main-block{

    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;

}

.main{
    background-color: #fff;
}
/* ----------------hero-banner---------------- */


.hero-banner{
    background-image: url('../Image/contact/hero_banner_bg.png');
    background-size: cover;
    background-position: center center;

    display: flex;
    justify-content: center;
    align-items: center;

}

.hero-banner .main-block{
    width: 100%;
    border: 2px solid white;
    flex-flow: column;
    margin: 60px 30px;
    padding: 20vh 0;
    text-align: center;
}

.hero-banner h1{
    margin-bottom: 10vh;
    color: white;
    text-shadow: 5px 5px 10px #333;
}

.hero-banner h3{
    color: white;
    text-shadow: 5px 5px 10px #333;
}

/* ----------------join---------------- */

.join{
    height: auto;
    width: 100%;
    padding: 10vh 0;
    box-sizing: border-box;
}

.join .main-block{
    flex-flow: column;
}

.join .title{
    margin-bottom: 30px;
    text-align: center;
}

.join .title h2{
    margin-bottom: 30px;
}

.join .title h3{
    margin-bottom: 30px;
}

.join .title p{
    /* margin-bottom: 30px; */
    font-weight: 100;
}

.secondary{
    width: 100%;
    display: flex;
}


.secondary .list{
    display: flex;
    flex-direction: row;
    width: 100%;
    /* height: 350px; */

    flex-wrap: wrap;
    justify-content: space-between;
    /* margin-left: 30px; */
}

.secondary .list .items{
    flex-shrink: 0;
    width: 33%;
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;
}

.items .pic1, .items .pic2{
    width: 80px;
    height: 80px;
    /* flex-basis: 50px; */

    border: 4px solid #48678E;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.items .pic2{
    background-color: #48678E;
}
.items .pic2 picture{
    width: 100%;
}
.items img{
    width: 70%;
    height: 70%;
    display: block;
    margin: 0 auto;
}

.items p{
    width: 70%;
    margin-left: 30px;
}

/* ----------------insurance---------------- */

.insurance{
    height: auto;
    width: 100%;
    padding: 10vh 0;
    background-color: #48678E;
}

.insurance .main-block{
    justify-content: center;
    align-items: center;
}

.insurance .text{
    color: white;
    width: 50%;
    flex-grow: 1;
    padding-left: 60px;
}

.text .title{
    margin-bottom: 60px;
}

.text .list p{
    margin-bottom: 30px;
    color: white;
    line-height: 30px;
}

.list p .fa-solid{
    margin-right: 30px;
}

.insurance .pic{
    width: 50%;
    flex-grow: 1;
    box-shadow: 20px 20px 0px rgba(255,255,255,.1);
}

.insurance .pic img{
    width: 100%;
}

/* ----------------FAQ---------------- */

.faq{
    height: auto;
    width: 100%;
    padding: 10vh 0;
}

.faq .main-block{
    flex-direction: column;
}

.faq .title{
    margin-bottom: 60px;
}

.faq input{
    display: none;
}

.list .question{
    width: 60vw;
    margin: 0 auto;
    position: relative;
    border-bottom: 2px solid #48678E  ;
    cursor: pointer;
    /* transition: .5s; */
}

.list .question:hover{
    background-color: rgba(72, 103, 142,.6) ;
}

.list .question:hover p{
    color: #fff;
}

.list .question:hover p::after{
    border-color: #fff transparent transparent transparent;

}

.list .question p::after{
    content: '';
    border-style: solid;
    border-width: 10px;
    border-color: #48678E transparent transparent transparent;

    position: absolute;
    right: 10px;
    top: 20px;
}

/* ============================on */
.list .question.on{
    background-color: rgba(72, 103, 142,.6) ;
}
.list .question.on p{
    color: #fff;
}
.list .question.on:hover{
    background-color: rgba(72, 103, 142,.6) ;
}

.list .question.on p::after{
    border-color: transparent transparent #fff transparent;
}

.list .answer{
    display: none;
    width: 60vw;
    margin: 0 auto;
    position: relative;
    border-bottom: 2px solid #48678E  ;
}

.list .question p{
    line-height: 2.5;
    padding-left:10px;
}
.list .answer p{
    line-height: 2;
    padding-left:10px;
}

/* ----------------information---------------- */

.information{
    height: auto;
    width: 100%;
    padding: 10vh 0;
}

.information .title{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 60px;
    width: 70%;
    
}

.information .title h3{
    margin-bottom: 60px;
}

.information .title p{
    font-weight: 100;
}


/* ----------------information - send---------------- */

article.send{
    width: 100%;
    height: 700px;

    background-image: url('../Image/contact/article_bg.png');
    background-size: cover;
    background-repeat: repeat;
    background-position: center center;

}

.form-box{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0, .3);
}

form{
    
    background-color: transparent;
    width: 25%;
    margin: 0 auto;
    padding: 40px 40px;
    border: 2px solid #ccc;
    border-radius: 10px;
    backdrop-filter: blur(15px);
    position: relative;
}

form h4{
    text-align: center;
    color: white;
}

form label{
    font-size: 1.6rem;
}

.name .sex{
    position: absolute ;
    right: 0px;
    top: 50px ;
}

.name .sex label{
    color: white;
}

.form-box .name, .form-box .phone, .form-box .mail{
    position: relative;
    margin: 30px 0 0;
    height: 40px;
    width: 100%;
    border-bottom: 1px solid white;
}

.name input.text, .phone input.text, .mail input.text{
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
}

.text ~ label{
    position: absolute ;
    top: 50% ;
    left: 5px;
    transform: translateY( -50% );
    color: white;
    pointer-events: none;
    transition: .3s ;
}

input.text:focus ~ label, input.text:valid ~ label{
    top: -10px;
}

.statement p{
    color: white;
    margin: 10px 0 5px;
    margin-left: 5px;
    font-size: 16px;
}

textarea{
    width: 100%;
    color: white;
    background-color: transparent ;
    border-radius: 10px;
    border-color: white;
    outline: none;
    padding: 15px;
    margin-bottom: 30px;
    box-sizing: border-box;
}

textarea::placeholder{
    color: white;
}

.submit{
    width: 100%;
    height: 60px;
    padding: 5px 0;
    font-size: 20px;
    font-weight: 700;
    color: #333;
    background-image: linear-gradient(0.25turn, #a1a1a1, #ebf8e1, #a1a1a1);
    border-radius: 10px;
    border-color: white;
    border-width: none;
    transition: 1s ;
    cursor: pointer;
}

/* .submit:hover{
    transition: 1s ;
    padding: 5px 95% 5px 0px;
} */

form .submit_item{
    position: relative;
}

form .submit_item::before{
    content: "";
    display: block;
    width: 1px;
    height: 60px;
    border-radius: 10px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    background: linear-gradient(0.25turn, #a1a1a1, #ebf8e1, #a1a1a1);
    z-index: -1;
    opacity: 0;
    transition: .5s;
}

.submit_item:hover::before{
    width: 100%;
    opacity: 0;
    transition: .5s;
}

/* ----------------information - company-information---------------- */

article.company-information{
    height: auto;
    width: 100%;
    padding-top: 10vh;
}

.company-information .main-block{
    flex-direction: row;
    justify-content: center;
}

.company-information .left, .company-information .right{
    width: 40%;
}

.company-information .left .com-name, .company-information .left .addr, .company-information .left .phone, .company-information .left .fax, .company-information .left .mail{
    margin-bottom: 30px;

}

.company-information .left .addr, .company-information .left .phone, .company-information .left .fax, .company-information .left .mail{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.company-information .left .addr:visited i{
    color: #333;
}

.company-information .left .com-name{
    font-weight: 700;
    font-size: 24px;
}

.company-information .left .fa-solid{
    margin-right: 15px;
    font-size: 20px;
    color: #333;
}

.company-information .right iframe{
    width: 100%;
    display: block;
    height: 295px;
}

/* ==================== RWD =================== */

@media screen and ( max-width: 414px ){
    
    h1{
        font-weight: 700;
        font-size: 4rem;
        line-height: 10rem;
        letter-spacing: 0.15em;
        color: white;
    }

    h2{
        font-weight: 400;
        font-size: 4rem;
        line-height: 7.0rem;
        letter-spacing: 0.15em;
    }

    h3{
        font-weight: 400;
        font-size: 2.4rem;
        line-height: 4.6rem;
        letter-spacing: 0.15em;
    }

    p{
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2.9rem;
        letter-spacing: 0.15em;
    }

    .main-block{
        max-width: 374px;
        margin: 0 20px;
    }

    .hero-banner h3{
        width: 100%;
    }
    .hero-banner h1{
        margin-bottom: 5vh;
    }
    
    .hero-banner .main-block{
        padding: 5vh 0;
    }

    /* join */
    .join{
        padding: 5vh 0;
    }

    .join .title p{
        font-weight: 400;
    }
    .secondary .list .items{
        width: 47%;
        margin-top: 10px;
        margin-left: 1.5%;
        margin-right: 1.5%;
        display: flex;
        flex-direction: column;
        /* align-items: start; */
        justify-content: start;
    }

    .secondary .list .items:last-child{
        width: 100%;
    }
    .items .pic1, .items .pic2{
        /* width: 60px;
        height: 60px; */
    }

    .items .pic2{
        background-color: #fff;
    }

    .items p{
        margin-left: 0;
        width: 100%;
        text-align: center;
    }

    /* insurance */

    .insurance{
        padding: 5vh 0;
    }

    .insurance .main-block{
        flex-direction: column;
    }

    .insurance .text{
        padding-left: 0;
        width: 100%;
        margin-bottom: 30px;
    }

    .text .title{
        margin-bottom: 30px;
        text-align: center;
    }

    .text .list p{
        padding-left: 15px;
        margin-bottom: 10px;
    }

    .insurance .pic{
        width: 100%;
        box-shadow: none;
    }

    /* faq */

    .faq{
        padding: 5vh 0;
    }

    .faq .title{
        margin-bottom: 30px;
    }

    .list{
        width: 100%;
    }
    .list .question{
        width: 100%;
    }

    .list .answer{
        width: 100%;
    }

    .list .question p::after{
        top: 50%;
    }

    .list .question.on p::after{
        top: 0%;
    }

    /* information */

    .information{
        padding: 5vh 0;
    }

    .information .title{
        width: 80%;
        margin-bottom: 30px;
    }
    .information .title h3{
        margin-bottom: 30px;
    }

    .information .title p{
        font-weight: 400;
    }

    form{
        width: 70%;
    }

    .submit{
        background: linear-gradient(0.25turn, #a1a1a1, #ebf8e1, #a1a1a1);
        color: #333;
    }

    article.company-information{
        padding-top: 5vh;
    }

    .company-information .main-block{
        flex-direction: column;
    }

    .company-information .left, .company-information .right{
        width: 100%;
    }

    .company-information .left{
        margin-bottom: 20px;
    }
    .company-information .left .com-name, .company-information .left .addr, .company-information .left .phone, .company-information .left .fax, .company-information .left .mail{
        margin-bottom: 10px;
    }
}