@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

body{

    font-family: 'Noto Sans TC', 'Noto Sans', sans-serif;
    letter-spacing: 0.15em;

}

/* ----------------模組化---------------- */

h1{
    font-weight: 700;
    font-size: 9.6rem;
    line-height: 13.9rem;
    letter-spacing: 0.15em;
    color: white;
}

h2{
    font-weight: 400;
    font-size: 4.8rem;
    line-height: 7.0rem;
    letter-spacing: 0.15em;
}

h3{
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 4.6rem;
    letter-spacing: 0.15em;
}

p{
    font-size: 2.0rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.9rem;
    letter-spacing: 0.15em;
    color: #000000;
}

a{
    text-decoration: none;
}

.main-block{

    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* ----------------main---------------- */

/* ----------------hero-banner---------------- */
.hero-banner{
    background-image: url('../Image/index/hero_background.png');
    background-size: cover;
    background-position: top center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-banner .main-block{

    width: 100%;
    border: 2px solid white;
    flex-flow: column;
    margin: 60px 30px;
    padding: 10vh 0;
    text-align: center;
}

.hero-banner h1{
    margin-bottom: 10vh;
    color: white;
    text-shadow: 5px 5px 10px #333;
}

.hero-banner h3{
    color: white;
    text-shadow: 5px 5px 10px #333;
}

/* ----------------about---------------- */

.about{
    padding: 10vh 0;
    height: auto;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #fff;
}

.about .main-block{

    flex-flow: column;
    position: relative;

}

.about-title{
    display: block;
    text-align: center;
    position: relative ;
    z-index: 1;
    margin-bottom: -110px;
    /* position: absolute;
    top: 0;
    left: 50%; */
    /* transform:translateX(-50%); */
}

.about .contain{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.contain .left{
    background-image: url('../Image/index/about.png');
    background-size: cover;
    background-position: center center;
    width: 50%;
    height: calc(80vh);
    box-shadow: 4px 4px 10px rgba( 0, 0, 0, .3 );

}

.contain .right{

    padding: 20vh 10vh 0;
    /* padding: 20vh 10vh; */
    box-sizing: border-box;
    width: 50%;
    /* height: calc(80vh); */

}

.right p{

    line-height: 3;
    font-weight: 100;
    /* margin-bottom: 20px; */
}

.right a{
    font-size: 20px;
    line-height: 20px;
    /* display: block; */
    text-decoration: none;
    text-align: center;
    color: #A3A3A3;
    margin: 0 auto;
    display: block;
    line-height: 3 ;
}

.right a:hover{
    color: #002136;
}


/* ----------------news---------------- */

.news{
    height: auto;
    width: 100%;
    padding: 10vh 0;
    box-sizing: border-box;
    background-image: url('../Image/index/news_background.png');
    background-size: cover;
    background-position: center center;
    background-color: #fff;
    /* clear: both; */
}

.news .main-block{
    flex-flow: column;

}
.news-title{
    text-align: center;
    margin-bottom: 60px;
}

.news-title h2{
    margin-bottom: 30px;
}

.news-list{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.news-list li{
    position: relative;
    width: 27%;
    height: 275px;
    border: 1px solid #999;
    background-color: white;
    padding: 30px;
    overflow: hidden;
    transition: .5s;
}

.news-list li span{
    position: absolute;
    left: 0;
    top: 40px;
    width: 70px;
    text-align: center;
    padding: 10px;
    background-color: #48678E;
    color: #F4D481;
    clip-path: polygon(0% 0%, 100% 0, 90% 50%, 100% 100%, 0% 100%);
}

.news-list li img{
    width: 100%;
    display: block;

}

.news-list .text{
    width: 100%;
    background-color: white;
    transition: .7s;
}
.news-list .text p{
    text-align: center;
    line-height: 2;
}

.news-list li:hover .text{
    
    transform: translateY( -35px );
    transition: .5s;
}

.news-list li:hover .text p{
    color:#bca25e ;
    transition: .5s;
}

.news-list li:hover{
    transform: translateY( -10px );
    box-shadow: 0 0 20px #ccc;
    transition: .5s;
}

/* ----------------project---------------- */

.project{
    /* height: 760px; */
    padding: 10vh 0;
    position: relative;
    /* overflow: hidden; */
    background-color: #fff;
}

.project .main-block{
    flex-direction: column;
}

.project-title{
    text-align: center;
    margin-bottom: 50px;
}

/* ========================================= */

.project_slider{
    width: 100%;
    /* display: flex; */
    position: relative;
}

.project_slider .wrapper{
    max-width: 1200px;
    height: 100%;
    overflow: hidden;
}

.project_slider .wrapper .slide_list{
    display: flex;
    justify-content: start;
    align-items: center;
}

.project_slider .slide{
    width: 1200px;
    flex-shrink: 0;
    margin-right: 10px;
}

.project_slider .slide a{
    position: relative;
    display: block;
    width: 100%;
}

.project_slider .slide h3{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.project_slider .slide p{
    color: white;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    color: transparent;
    transition: color .3s ease-in ;
    z-index: 1;
}

.project_slider .slide p:before{
    content: '';
    height: 1px;
    width: 20px;
    display: block;
    background-color: transparent;
    top: 50%;
    left: -25px;
    position: absolute;
    transition: background-color .3s ease-in ;
}

.project_slider .slide p::after{
    content: '';
    height: 1px;
    width: 20px;
    display: block;
    background-color: transparent;
    top: 50%;
    right: -25px;
    position: absolute;
    transition: background-color .3s ease-in ;
}

.project_slider .slide a::before{
    content: '';
    position: absolute;
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 5%;
    border: 1px solid transparent;
    transition: border-color .3s ease-in ;
    z-index: 1;
}

.project_slider .slide a:hover::before{
    display: block;
    border-color: white;
}

.project_slider .slide a:hover > p{
    color: white;
}

.project_slider .slide a:hover > p::before, .project_slider .slide a:hover > p::after{
    background-color: #fff;
}

.project_slider .slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
}

/* -------------arrow */
.project_slider_prev, .project_slider_next{
    font-size: 6rem;
    text-align: center;
    display: block;
    width: 40px;
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 2;
}

.project_slider_prev:hover, .project_slider_next:hover{
    color: #F4D481;
}

.project_slider_prev{
    left: 1%;
}

.project_slider_next{
    right: 1%;
}

/* ---------------dot */

.project_slider_dot{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    display: flex;
    width: 10%;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    z-index: 2;
}

.project_slider_dot .dot{
    display: inline-block;
    margin: 10px;
    width: 15px;
    height: 15px;
    background-color: rgba(255, 255, 255, .3);
    border-radius: 50%;
}

.project_slider_dot .dot.on{
    background-color: #F4D481; 
}

/* ----------------warranty---------------- */

.warranty{
    height: auto;
    padding: 10vh 0;
    box-sizing: border-box;
    background-image: url('../Image/index/warranty_background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 250px;
    background-color: #fff;
}

.warranty .main-block{
    flex-flow: column;

}

.warr-title{
    text-align: center;
    margin-bottom: 50px;
}

.warr-title h3{
    margin-bottom: 50px;
}

.warranty .warr-title p{
    margin: 0 auto;
    width: 50%;
    font-weight: 100;
    line-height: 40px;
    letter-spacing: 0.15em;
}

.warr-list{
    width: 100%;
    /* list-style: none; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 60px;
}

.warr-list li{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 185px;
    height: 185px;
    background-color: #48678E;
    border-radius: 50%;
    text-align: center;
   
}

.warr-list li img{
    display: block;
    flex-grow: 0;
}

.warr-list li p{
    flex-grow: 0;
    margin-top: 20px;
    color: white;
}

/* ==================== RWD =================== */


@media screen and ( max-width: 414px ){

    
    h1{
        font-weight: 700;
        font-size: 4.8rem;
        line-height: 10rem;
        letter-spacing: 0.15em;
        color: white;
    }

    h2{
        font-weight: 400;
        font-size: 4rem;
        line-height: 7.0rem;
        letter-spacing: 0.15em;
    }

    h3{
        font-weight: 400;
        font-size: 2.4rem;
        line-height: 4.6rem;
        letter-spacing: 0.15em;
    }

    p{
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2.9rem;
        letter-spacing: 0.15em;
    }

    .main-block{
        max-width: 374px;
        margin: 0 20px;
    }

    .hero-banner h3{
        width: 60%;
    }
    .hero-banner h1{
        margin-bottom: 5vh;
    }
    
    .hero-banner .main-block{
        padding: 5vh 0;
    }

    /* ----------------about---------------- */

    .about{
        padding: 5vh 0 ;
    }

    .about-title{
        position: static;
        transform: translate(0%);
        margin-bottom: 40px;
    }

    .about .contain{
        flex-direction: column;
        position: relative;
    }

    .contain .left{
        width: 100%;
        height: 40vh;
        order: 2;
        filter: opacity(20%);
    }

    .contain .right{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: auto;
        padding: 5vh 5vw;
        order: 1;
    }

    .contain .right p{
        font-weight: 400;
        line-height: 2.5;
    }
    .contain .right a{
        font-size: 1.4rem;
        color: black;

    }

    /* ----------------news---------------- */

    .news{
        padding: 5vh 0;
    }

    .news-title{
        margin-bottom: 40px ;
    }

    .news-list{
        flex-direction: column;
    }

    .news-list li{
        width: 100%;
        height: 320px;
        box-sizing: border-box;
    }

    .news-list li+li{

        margin-top: 30px;
    }

    .news-list li img{
        margin-bottom: 10px;
    }
    .text p{
        line-height: 2;
    }

    .text p:last-child{
        display: none;
    }

    .project{
        padding: 5vh 0;
    }

    .project_slider_prev, .project_slider_next{
        width: 30px;
    }
    .project_slider_dot{
        width: 15%;
    }

    .project_slider_dot .dot{
        width: 10px;
        height: 10px;
        margin: 0;
    }
    /* =============== warranty ============= */
    .warranty{
        padding: 5vh 0;
        background-image: url('../Image/index/warranty_background.png');
        background-size: cover;
        /* background-attachment: fixed; */
        background-repeat: no-repeat;
        background-position: center 250px;
    }

    .warr-title{
        margin-bottom: 30px;
    }

    .warr-title h3{
        margin-bottom: 30px;
    }
    
    .warranty .warr-title p{
        width: 100%;
        font-weight: 500;
    }

    .warr-list{
        flex-wrap: wrap;
        margin-bottom: 0;
    }
    
    .warr-list li{
        flex-basis: 155px;
        height: 155px;
        margin: 5px;
        flex-wrap: wrap;
        flex-shrink: 0;
       
    }
    
    .warr-list li img{
        width: 45%;
        height: 45%;
    }
    
}