@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

body{

    font-family: 'Noto Sans TC', 'Noto Sans', sans-serif;
    letter-spacing: 0.15em;

}

/* ----------------模組化---------------- */

h1{
    font-weight: 700;
    font-size: 96px;
    line-height: 139px;
    letter-spacing: 0.15em;
    color: white;
}

h2{
    font-weight: 400;
    font-size: 48px;
    line-height: 70px;
    letter-spacing: 0.15em;
}

h3{
    font-weight: 400;
    font-size: 32px;
    line-height: 46px;
    letter-spacing: 0.15em;
}

p{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0.15em;
    color: #000000;
}

a{
    text-decoration: none;
}

.main-block{

    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;

}


/* ----------------hero-banner---------------- */


.hero-banner{
    background-image: url('../Image/performence/hero_bg.png');
    background-size: cover;
    background-position: top center;

    display: flex;
    justify-content: center;
    align-items: center;

}

.hero-banner .main-block{

    width: 100%;
    border: 2px solid white;
    flex-flow: column;
    margin: 60px 30px;
    padding: 10vh 0;
    text-align: center;
}

.hero-banner h1{
    margin-bottom: 10vh;
    color: white;
}

.hero-banner h3{
    color: white;
}

/* ----------------contain---------------- */

.contain{
    padding: 10vh 0;
    height: 860px;
    position: relative;
}

.bg{
    width: 100%;
    height: 50%;
    top: 30%;
    left: 0;
    background-color: #48678E;
    position: absolute;
}
.contain .main-block{
    position: relative;
    /* flex-direction: column; */
    align-items: start;
    height: calc( 900px - 60px );
}

.title{
    margin-bottom: 30px;
    color: black;
}

.pic{
    position: absolute;
    top: 90px;
    right: 0;
}

article{
    width: 488px;
    border: 1px solid black;
    padding: 30px;
    box-sizing: border-box;
    background-color: #fff;

    top: 35%;
    left:0;
    position: absolute;
}

article h3{
    text-align: center;
    margin-bottom: 20px;
    line-height: 2;
    border-bottom: 2px solid #000;

}

article ul{
    display: flex;
    flex-direction: column;


}

article ul li{
    display: flex;
    justify-content: space-between;
}

article .name{
    margin-left: 20px;
    line-height: 2.5;
}

article .description{
    font-weight: 100;
    line-height: 2.5;
    width: 255px;
}